:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

body {
  font-family: var(--font-family);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;

  color: var(--navy-blue);
}

/* Header */

.header {
}
.header-nav {
}
.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);

  font-family: var(--second-family);
}
.header .logo span {
  color: var(--navy-blue);
}

.nav-list {
}

.nav-list .list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.header-address {
}
.address-list .list-link {
  color: var(--slate);
  font-style: normal;
}

.nav-list .list-link:hover,
.address-list .list-link:hover {
  color: var(--ocean);
}

/* HERO */

.hero {
  background-color: var(--navy-blue);
}
.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}
.hero-button {
  color: var(--white);
  background-color: var(--iris);

  /* Button Text */
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
}

.hero-button:hover {
  background-color: var(--ocean);
  cursor: pointer;
}

/* features */

.features {
}
.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
}
.list-item {
}
.features-list .list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;

  color: var(--navy-blue);
}

.list-text {
}

/* services */

.services {
}
.services-title {
}
.services-list {
}
.list-item {
}

/* team */

.team {
  background-color: var(--cloud);
}
.team-title {
}
.team-list {
}
.list-item {
}

.list-text {
}

/* portfolio */

.filter {
}
.filter-list .list-item {
}
.filter-button {
  background-color: var(--cloud);
  color: var(--iris);

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.filter-button:hover {
  background-color: var(--ocean);
  color: var(--white);
}
.works {
}
.works-list .list-text {
  color: var(--slate);
}

.link {
}

.works-list .list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;

  color: var(--navy-blue);
}

.list-text {
}

/* footer */

.footer {
  background-color: var(--navy-blue);
}
.footer .logo span {
  color: var(--cloud);
}
.footer-text {
  color: var(--cloud);
}
/* Скидання */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
